/*
*
*  Simple fluid media
*
*/

figure {
  position: relative;
}
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
