ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  // Styled Ordered Lists
  &%circle-ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      counter-increment: step-counter;
      margin-bottom: 10px;
      float: left;
      width:100%;

      &:before {
        content: counter(step-counter);
        background-color: transparent;
        border-radius: 50%;
        font-family: $heading-font-family;
        color: $base-font-color;
        border: 1px solid $base-font-color;
        font-size: 70%;
        margin-right: 8px;
        padding: 2px 5px;
        height: 2.5em;
        width: 2.5em;
        display: block;
        float: left;
        text-align: center;
      }
    }

    &.fill{
      li{
        &:before{
          color: $white;
          border: 1px solid $base-font-color;
          background-color: $base-font-color;
        }
      }
    }
  }


  // Styled Unordered Lists
  &%circle-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 10px;
      float: left;
      width:100%;

      &:before {
        content: '';
        background-color: transparent;
        border-radius: 50%;
        color: $base-font-color;
        font-family: $heading-font-family;
        border: 1px solid $base-font-color;
        margin-right: 14px;
        padding: 4px;
        height: 0.75em;
        width: 0.75em;
        display: block;
        float: left;
        text-align: center;
        position:relative;
        top:8px;
      }
    }

    &.fill{
      li{
        &:before{
          color: $white;
          border: 1px solid $base-font-color;
          background-color: $base-font-color;
        }
      }
    }
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
