<article id="home-content">

  {{home-header name='Tours List' logo='/assets/images/logo.png'}}

  {{#each tour in this.model}}

  	{{#if tour.published}}

    <section {{bind-attr class=":panel tour.slug"}}>

        {{tour-image-info tour=tour}}

    </section>

    {{/if}}

  {{/each}}
</article>
