<article id="home-content">

  {{peakaboo-header name='Tours List' logo='/assets/images/logo.png'}}

  {{#each tour in this.model}}

    <section {{bind-attr class=":card tour.slug"}}>

        {{gradient-image tour=tour}}

    </section>

  {{/each}}
</article>
